// color default
$color-black-default-1: #000; // 100
$color-black-default-2: #0000008e; // 75
$color-black-default-3: #00000065; // 50
$color-black-default-4: #00000017; // 10

// color default green
$color-green-default-1: #5fa31a; //100
$color-green-default-2: #5fa31aaf; // 75
$color-green-default-3: #5fa31a83; // 50
$color-green-default-4: #5fa31a17; // 

// color danger red delete 
$color-red-danger: #ff0000; // 100
$color-red-danger-2: #ff000065; // 50




// GRID
$grid-with: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
