.btn {
	text-transform: uppercase;
	display: inline-block;
	font-size: 2rem;
	border: none;
	cursor: pointer;
	font-weight: 800;

	// default color
	&--green {
		border-radius: 50%;

		color: #5FA31A;
		font-size: 2.5rem;

		&:hover {
			transform: translateX(5px);
			background-color: #5fa31a63;
			color: #5fa31a;
			font-size: 2.9rem;
			box-shadow: 0 1rem 2rem rgba(#5fa31a, 0.2);
		}
	}

	// delete button
	&--red-delete {
		color: red;
		font-size: 2.5rem;
		border-radius: 5%;

		&:hover {
			transform: translateX(5px);
			color: #ff0000;
			background-color: rgba(255, 0, 0, 0.397);
			font-size: 2.9rem;
			box-shadow: 0 1rem 2rem rgba(#ff0000, 0.2);
		}
	}
}
