.btn {
	text-transform: uppercase;
	display: inline-block;
	font-size: 2rem;
	border: none;
	cursor: pointer;
	font-weight: 800;

	background-color: $color-black-default-4;

	// default color
	&--green {
		// border-radius: 15%;

		color: $color-green-default-2;

		font-size: 2.5rem;

		&:hover {
			transform: translateX(5px);
			// background-color: $color-green-default-2;
			background-color: $color-green-default-4;


			color: $color-green-default-1;

			font-size: 2.9rem;
			
			// box-shadow: 0 1rem 2rem rgba($color-green-default-2, 0.6);
		}
	}

	// delete button
	&--red-delete {
		color: $color-red-danger;
		font-size: 2.5rem;
		border-radius: 5%;

		&:hover {
			transform: translateX(5px);
			color: $color-red-danger;
			background-color: $color-red-danger-2;
			font-size: 2.9rem;
			// box-shadow: 0 1rem 2rem rgba($color-red-danger, 0.2);
		}
	}
}
