.card {
	width: 80rem;
	
	position: relative;
	// padding-top: 90rem;
	margin-top: 5rem;

	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
	// overflow: hidden;
	&-body {
		height: 30rem;

		background-color: $color-black-default-2;
		border: none;
		overflow: hidden;
	}
}

