.card {
	width: 90rem;
	position: relative;
	// background-color: aqua;
	// padding-top: 90rem;
	margin-top: 3rem;

	left: 50%;
	transform: translate(-50%, -50%);
	&-body {
		height: 15rem;
		// background-color: black;
		background-color: #00000033;
	}
}
