
// all projects scroll 
.scroll {
	margin-top: 5rem;
	// padding-top: 1rem;

	position: absolute;
	top: 50%; // from top
	left: 50%;

	transform: translate(-50%, -50%);

	height: 80rem; // change style responsicve to large screen
	overflow-wrap: scroll;
	overflow-x: hidden;

}

// project description body card
.scroll--body-card {
	overflow-y: auto;
	height: 20.5rem;
	width: auto;
}
