
// all projects scroll 
.scroll {
	margin-top: 11rem;
	padding-top: 34rem;

	position: absolute;
	top: 50%; // from top
	left: 50%;

	transform: translate(-50%, -50%);

	height: 70rem;
	overflow-wrap: scroll;
	overflow-x: hidden;

}

// project description body card
.scroll--body-card {
	overflow-y: auto;
	height: 20.5rem;
	width: auto;
}
