.heading-primary {
	font-size: 2.5rem;
	font-weight: 900;
	color: #73c91d;
	letter-spacing: 0.1rem;
	text-shadow: 0.5rem 0.6rem 2rem rgba(#000000, 0.9);

	margin-bottom: 2rem;

	text-align: center;
	align-items: center;
}

.heading-secundary {
	font-weight: 600;
	color: #73c91d;

	align-items: center;
	justify-content: right;
	padding-top: 1rem;
	margin-left: 1rem;
	// color: red;
}

// titles 
.title{
	text-transform: uppercase;
	font-size: 3rem;
	font-weight: 600;
	color: black;
}

// paragraph cards.
.paragraph {
	font-size: 1.3rem;
	font-weight: 400;
	color: black;
}

.text {
	color: #73c91d;
	font-weight: 600;
	font-size: 1.6rem;
	margin-left: 1rem;
}

.remark-text {
	color: black;
}
