.home {
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.712);
	// background-image: url(../../../../assets/home_back_1.jpg);
	position: relative;
	// color: red;

	&__box {
		position: relative;

		top: 50%;
		left: 50%;

		height: 60rem;
		width: 100rem;
		border-radius: 2%;
		transform: translate(-50%, -50%);

		box-shadow: 0 1rem 2rem rgba(#fff, 0.2);
		overflow: hidden;

		&-rg {
			height: 60rem;
			position: relative;

			// align-items: center;
			// text-align: center;

			// align-items: center;
			// text-align: center;
			// background-image: url(../../../../assets/rgt-side.jpg);
			// background-repeat: no-repeat;
			// background-size: contain;
		}
		&-lft {
			background-image: url(../../../../assets/rgt-side.jpg);
			background-repeat: no-repeat;
			background-size: contain;

			height: 60rem;
			color: red;
			position: relative;
			// align-items: center;
			// text-align: center;
			background-color: #61aa17ee;
		}
	}
}
