.comment-box {
	position: relative;
	height: 90vh;

	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

}
.comment {
	background-color: $color-green-default-1;

	align-items: center;
	text-align: left;

	border-radius: 1rem;
}

.comment-from{
	color: $color-red-danger;
	font-weight: bold;
}