.comment-box {
	position: relative;
	height: 100vh;

	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);

}
.comment {
	background-color: $color-green-default-1;

	align-items: center;
	text-align: left;

	border-radius: 1rem;
}

.comment-from{
	color: $color-red-danger;
	font-weight: bold;
}

.comment-area{
	position: absolute;
	top: 90%; // from top
	left: 50%;

	transform: translate(-50%, -50%);
	
	// height: 70rem; // change style responsicve to large screen
	// width: 70%;

}
